.paginationBlock {
  display: flex;
  gap: 2px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.paginationItem {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--yellow-color);
  font-size: 18px;
  color: var(--white-color);
  transition: all ease 0.1s;
  cursor: pointer;
}

.pageCurrent {
  background-color: var(--red-color);
}

.paginationItem:hover {
  background-color: var(--white-color);
  color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
}
