*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button,
input,
textarea {
    font-size: 100%;
}

:root {
    --black-color: #2D3436;
    --purple-color: #6C5CE7;
    --white-color: #FFFFFF;
    --grey-color: #ADADAD;
    --green-color: #00B894;
    --red-color: #FF7675;
    --blue-color: #1d7af3;
    --shadow-color: #e2dcdc;
    --shadow2-color: rgba(38, 50, 56, 0.3);
    --big-spot-color: #FFEAA7;
    --dots-color: #FDCB6E;
    --under-word-spot-green-color: #55EFC4;
    --fine-color: #E84393;
    --form-background-color: #f3f3f3;
    --form-border-color: #cecbe4;
  }

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
}

h2 {
    font-weight: 900;
    font-size: 64px;
}

h3 {
    font-weight: 700;
    font-size: 48px;
}

h4 {
    font-weight: 700;
    font-size: 32px;
}

h4 > a {
    font-weight: 700;
    font-size: 32px;
}

/* Header */

.header {
    border-bottom: 2px solid var(--shadow-color);
    box-shadow: 0 0 25px var(--shadow-color);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
}

/* burger */

.burger {
    width: 30px;
    height: 20px;
    margin-right: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    z-index: 1;
}

.burger__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: var(--black-color);


    transition: transform .2s linear;
}

.burger.active .burger__item:nth-child(2) {
    background: none;
}

.burger.active .burger__item:nth-child(1) {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.burger.active .burger__item:nth-child(3) {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


/* Header__Logo*/

.logo {
    display: flex;
    align-items: center;
}

/* Header__Button */

.header__button {
    width: 170px;
    height: 64px;
    color: var(--white-color);
    background: var(--black-color);
    border-radius: 999px;
    font-weight: 700;
    font-size: 24px;
}

/* Navigation */

.header__navigation{
    display: flex;
}

.link {
   text-decoration: none; 
   color: var(--purple-color);
}

.link::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--dots-color);
    display: inline-block;
    margin: 0px 20px 3px 20px;
}

.link--active {
    font-weight: 700;
    color: var(--black-color);
}

.header__navigation a:first-child::before {
    content: "";
    width: 0px;
    height: 0px;
    margin: 0;
}

/* fine-images */

.fine-images {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.fine-images::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    background: var(--big-spot-color);
    opacity: 0.4;
    border-radius: 99px;
    transform: rotate(-45deg);
    left: 42%;
    top: -48%;
    z-index: -1;
}

.fine-images::after {
    content: url(imgs/dots.png);
    position: absolute;
    left: 89%;
    top: 1%;
}

.fine {
    color: var(--fine-color);
    position: relative;
}

.fine::after {
    content: "";
    width: 200px;
    height: 51px;
    background-color: var(--under-word-spot-green-color);
    border-radius: 999px;
    position: absolute;
    top: 66px;
    right: -9px;
    z-index: -1;
}

.fine-images__header {
    text-align: center;
}

.fine-images__title {
    margin-top: 80px;
    font-weight: 800;
    font-size: 96px;
    text-shadow: 0px 3px 1px var(--white-color);
}

.fine-images__subtitle{
    margin-top: 16px;
    margin-bottom: 64px;
}

/* Wrapper */

.fine-images__grid {

    margin-top: 65px;
    margin-bottom: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 77px);
    grid-template-rows: repeat(16, 37px);
    gap: 25px;
  }

.wrapper__img {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.wrapper__text {
    line-height: 32px;
}

.text1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.img1 {
    grid-column: 1 / 4;
    grid-row: 3 / 13;
    background-color: var(--dots-color);
    align-items: flex-start;
    color: var(--black-color);
}

.img1 > p {
    padding-top: 50px;
    text-align: center;
    font-weight: 700;
}

.wrapper__button {
    grid-column: 1 / 4;
    grid-row: 13 / 15;
    color: var(--purple-color);
    font-size: 32px;
    font-weight: 700;
    border-radius: 999px;
    border: var(--white-color);
    box-shadow: 0 6px 12px rgba(38, 50, 56, 0.6);
}

.img2 {
    grid-column: 4 / 9;
    grid-row: 1 / 9;
    background-color: var(--green-color);
}

.img3 {
    grid-column: 4 / 7;
    grid-row: 9 / 15;
    background-color: var(--fine-color);
}


.img4 {
    grid-column: 7 / 11;
    grid-row: 9 / 16;
    background-color: var(--purple-color);
}

.text2 {
    grid-column: 9 / 13;
    grid-row: 3 / 5;
}

.img5 {
    grid-column: 9 / 11;
    grid-row: 5 / 9;
}

.img5 > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.img6 {
    grid-column: 11 / 13;
    grid-row: 5 / 9;
    background-color: var(--blue-color);
}

.img7 {
    grid-column: 11 / 13;
    grid-row: 9 / 14;
    background-color: var(--red-color);
}

/* pricing__header */

.pricing {
    margin-bottom: 150px;
}

.pricing__header {
    text-align: center;
}

.pricing__title {
    margin-bottom: 34px;
}

.pricing__subtitle {
    color: var(--grey-color);
    margin-bottom: 40px;
}

.monthly {
    color: var(--purple-color);
    position: relative;
}

.monthly::after {
    content: "";
    width: 137px;
    height: 13px;
    background-color: var(--dots-color);
    border-radius: 999px;
    position: absolute;
    top: 25px;
    right: -4px;
    z-index: -1;
}

/* pricing__cards */
.pricing__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pricing__card {
    width: 31.5%;
    height: 536px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.pricing__card:hover {
    border-radius: 16px;
    box-shadow: 0 8px 12px var(--shadow2-color);
    transition: all 500ms ease;
}

.pricing__card-modified {
    position: relative;
    z-index: 999 !important;
}

.pricing__card-modified::before {
    content: url(imgs/wiggle.png);
    position: absolute;
    z-index: -10;
    bottom: -25px;
    left: -25px;
}

.pricing__tariff {
    height: 32px;
    font-weight: 700;
    color: var(--purple-color);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pricing__best {
    border: 1px solid var(--purple-color);
    border-radius: 99px;
    text-transform: uppercase;
    width: 90px;
    height: 32px;
    text-align: center;
    padding-top: 4px;
}

.pricing__price {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 24px;
}

.period {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}

.pricing__advantages {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.pricing__advantage {
    display: flex;
    gap: 16px;
    align-items: center;
}

.pricing__advantage-gray::before {
    content: url(imgs/check-gray.png);
}

.pricing__advantage-yellow::before {
    content: url(imgs/check-yellow.png);
}

.pricing__advantage-blue::before {
    content: url(imgs/check-blue.png);
}

.pricing__buy-button {
    max-width: 100%;
    height: 64px;
    color: var(--purple-color);
    font-weight: 700;
    font-size: 18px;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 16px;
    margin-top: auto;
}

.pricing__buy-button:hover {
    background-color: var(--purple-color);
    color: var(--white-color);
    transition: all 500ms ease;
}

/* features */

.features {
    margin-bottom: 180px;
}

.features__header {
    margin-bottom: 15px;
}

.features__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
}

.features__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features__card {
    width: 24%;
    display: flex;
    flex-direction: column;
}

.features__img {
    width: 70px;
    height: 70px;
}

.features_feature {
    margin: 24px 0px 16px 0px;
    font-weight: 700;
    font-size: 24px;
}

.features_describing {
    margin-bottom: 8px;
    line-height: 32px;
    max-width: 270px;
}

.features__button {
    
    width: 146px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    color: var(--purple-color);
    font-weight: 700;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 16px;
    margin-top: auto;
}

/* footer */

.footer__blocks {
    display: flex;
    justify-content: space-between;
}

.footer__inner {
    width: 40%;
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
}

footer::after {
    content: "";
    position: absolute;
    background-image: url(imgs/wave.png);
    background-size: cover;
    height: 50%;
    width: 100%;
    top: 120%;
}

/* footer__followus */

.footer__header {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-color);
    margin-bottom: 20px;
}

.links__followus {
    display: flex;
    gap: 35px;
    margin-bottom: 40px;
}

.links__followus > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links__followus > div:hover {
    background-color: var(--big-spot-color);
    transition: all 250ms ease;
}

.links__information {
    display: flex;
    justify-content: space-between;
}

.links__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.links__link {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: var(--black-color);
}

.links__link_underline {
    text-decoration: underline;
}

/* footer__keepintouch */

.keep-in-touch__email {
    color: var(--purple-color);
    display: flex;
    margin-bottom: 40px;
}

.keep-in-touch__forms {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 30px;
    position: relative;
}

.keep-in-touch__form {
    background: var(--form-background-color);
    border-radius: 16px;
    border: none;
    height: 50px;
    padding-left: 16px;
}

.for-image__name-form-image {
    width: 47.5%;
    position: relative;
}

.keep-in-touch__form_user {
    width: 100%;
}

.for-image__email-form-image {
    width: 47.5%;
    position: relative;
}

.keep-in-touch__form_email {
    width: 100%;
}

.keep-in-touch__form:focus + svg {
    stroke: var(--purple-color);
}

.keep-in-touch__text:focus + svg {
    stroke: var(--purple-color);
}

.keep-in-touch__form::placeholder {
    color: var(--black-color);
}

.keep-in-touch__text {
    font-family: 'Inter';
    background: var(--form-background-color);
    width: 100%;
    height: 80px;
    border-radius: 16px;
    border: none;
    resize: none;
    padding: 16px;
    position: relative;
}

.for-image__text-form-image {
    width: 65%;
    position: relative;
}

.keep-in-touch__text::placeholder {
    color: var(--black-color);
}

textarea:focus, input:focus{
    outline: 2px solid var(--form-border-color);
    color: var(--purple-color);
}

textarea:focus::placeholder, input:focus::placeholder{
    color: var(--purple-color);
    font-weight: 700;
}

svg {
    position: absolute;
    right: 0px;
    top: 4px;
    stroke: var(--grey-color);
}

.keep-in-touch__button {
    width: 30%;
    height: 80px;
    background-color: var(--purple-color);
    border-radius: 16px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    color: var(--white-color);
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .conteiner {
        max-width: 970px;
    }

    /* grid */

    .wrapper {
        grid-template-columns: repeat(12, 70px);
        grid-template-rows: repeat(16, 35px);
        gap: 15px;
    }

    .img3 {
        grid-column: 4 / 7;
        grid-row: 9 / 14;
    }

    .wrapper__button {
        grid-column: 4 / 7;
        grid-row: 14 / 16;
        font-size: 18px;
    }
}

@media (max-width: 992px) {

    .conteiner {
        max-width: 750px;
    }

    /* burger */

    .logo__img {
        display: none;
    }

    .header__navigation {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: var(--black-color);
    }

    .header__navigation.active {
        display: block;
    }

    .link {
        text-align: center;
        display: block;
        margin: 0;
        padding: 8px 20px;
        color: var(--form-background-color)
    }

    .link::before {
        display: none;
    }

    .burger {
        display: flex;
    }

    /* Grid */

    .wrapper {
        grid-template-columns: repeat(12, 61px);
        grid-template-rows: repeat(16, 31px);
        gap: 15px;
    }

    .img3 {
        grid-column: 4 / 7;
        grid-row: 9 / 14;
    }

    .wrapper__button {
        grid-column: 4 / 7;
        grid-row: 14 / 16;
        font-size: 18px;
    }

    /* pricing__card */

    .pricing__cards {
        justify-content: space-around;
    }

    .pricing__card {
        width: 100%;
        max-width: 370px;
        margin-bottom: 30px;
    }

    .pricing__card:last-child {
        margin-bottom: 0;
    }

    /* email */

    h4 > a {
        font-size: 24px;
    }
}

@media (max-width: 761px) {

    /* features__card */

    .features__cards {
        justify-content: space-around;
    }

    .features__card {
        width: 45%;
        margin-bottom: 40px;
    }

    /* footer */

    .footer__blocks {
        flex-direction: column;
    }

    .footer__inner {
        width: 100%;
    }

    .links {
        order: 2;
    }

    .keep-in-touch__button {
        margin-bottom: 80px;
    }

    /* links-followus */

    .links__followus {
        justify-content: center;
    }

    .links__information {
        justify-content: space-evenly;
    }

    footer::after {
        height: 8%;
        width: 100%;
        top: 108%;
    }
}

@media (max-width: 575px) {

    body {
        font-size: 14px;
    }

    /* Header */

    .header__inner {
        height: 70px;
    }

    .logo__text {
        font-size: 24px;
    }

    .header__button {
        width: 128px;
        height: 40px;
        font-size: 18px;
    }

    /* Fine-images */

    .fine-images__title {
        margin-top: 50px;
        font-size: 64px;
        font-weight: 900;
    }

    h2 {
        font-size: 48px;
        font-weight: 700;
    }

    .fine-images__subtitle{
        margin-top: 8px;
    }

    .fine::after {
        width: 150px;
        height: 40px;
        top: 44px;
        right: -10px;
    }

    .wrapper {
        grid-template-columns: repeat(12, 24px);
        grid-template-rows: repeat(16, 17px);
        gap: 15px;
    }

    .wrapper__text {
        display: none;
    }

    h3 {
        font-size: 24px;
    }

    .img1 {
        grid-column: 1 / 4;
        grid-row: 3 / 11;
    }

    .img2 {
        grid-column: 4 / 10;
        grid-row: 1 / 8;
    }

    .img3 {
        grid-column: 4 / 8;
        grid-row: 8 / 13;
    }

    .img4 {
        grid-column: 4 / 8;
        grid-row: 13 / 18;
    }

    .img5 {
        grid-column: 10 / 14;
        grid-row: 4 / 8;
    }

    .img6 {
        grid-column: 1 / 4;
        grid-row: 11 / 15;
    }

    .img7 {
        grid-column: 8 / 14;
        grid-row: 8 / 14;
    }

    .wrapper__button {
        grid-column: 8 / 12;
        grid-row: 14 / 16;
        font-size: 18px;
    }

    /* Pricing */

    .monthly::after {
        content: "";
        width: 105px;
        height: 11px;
        top: 17px;
        right: -3px;
    }

    .pricing {
        margin-bottom: 80px;
    }

    h4 {
        font-size: 24px;
    }

    .pricing__title {
        margin-bottom: 8px;
    }


    /* features */

    .features {
        margin-bottom: 50px;
    }

    .features__header {
        margin-bottom: 8px;
    }

    .features__text {
        font-size: 18px;
        line-height: 32px;
    }

    .features__img {
        width: 53px;
        height: 53px;
    }

    .features_feature {
        font-size: 22px;
        margin: 17px 0 12px 0;
    }

    .features_describing {
        line-height: 24px;
    }

    /* footer */

    .footer__header_none {
        display: none;
    }

    .links__information {
        display: none;
    }

    footer::after {
        background-size: none;
        height: 10%;
        width: 100%;
        top: 94%;
    }

    /* forms */

    .keep-in-touch__button,
    .for-image__text-form-image,
    .for-image__email-form-image,
    .for-image__name-form-image
    {
        width: 100%;
    }

    .keep-in-touch__forms {
        display: block;
        flex-direction: column;
    }

    .form-margin {
        margin-bottom: 5px;
    }

    /* email */

    .footer__header_followus-order {
        order: 2;
    }

    .footer__inner > h4 {
        order: 2;
        align-self: center;
    }

    .keep-in-touch__email {
        font-size: 18px;
        font-weight: 700; 
    }

}